  <p>Welcome to Milton Keynes Perl Mongers.  This
group exists for anyone in or near to Milton Keynes to have fun learning
about the Perl computer programming language.</p>

<p>It doesn't matter how much experience you have with Perl:  the group
exists for everyone from complete beginners to experienced
developers.</p>

