<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IRC</title>
<link rel="stylesheet" type="text/css" href="static/site.css">
<link rel="icon" href="favicon.ico">
</head>
<body>

<h2>IRC</h2>

<p>If you use <abbr title="Internet Relay Chat">IRC</abbr>, join us at
#miltonkeynes.pm on <a href="http://www.irc.perl.org/" title="Details of the Perl IRC network">irc.perl.org</a>.</p>
</body>
</html>

