<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Forthcoming Meetings</title>
<link rel="stylesheet" type="text/css" href="static/site.css">
<link rel="icon" href="favicon.ico">
</head>
<body>
<h2>Forthcoming Meetings</h2>

<p>We hold social meetings on the second to last Tuesday of every month where we get together in a pub and talk about various Perl and non-Perl things.</p>

<p>Please subscribe to our mailing list or join our IRC channel to keep up to date with meeting announcements.</p>

<p>
If you're visiting Milton Keynes and would like to meet up with us, or if you'd like to arrange an impromptu meeting for any reason, please introduce yourself on the mailing list or IRC.
</p>

<h3>Next Social Meeting</h3>

<p>The January social meeitng will take place on Tuesday, 20th March 2012 at <a href="http://miltonkeynes.openguides.org/?J.D_Wetherspoon%2C_Central_Milton_Keynes" title="J D Wetherspoon in the Open Guide to Milton Keynes" type="text/html">Wetherspoon's in Central Milton Keynes</a>.  Please come along and say hello.</p>

<h3>Next Technical Meeting</h3>
<p>We don't currently have a technical meeting scheduled.</p>

</body>
</html>
