<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" href="static/site.css">
<link rel="icon" href="favicon.ico">
</head>
<body>
  <p>Welcome to Milton Keynes Perl Mongers.  This
group exists for anyone in or near to Milton Keynes to have fun learning
about the Perl computer programming language.</p>

<p>It doesn't matter how much experience you have with Perl:  the group
exists for everyone from complete beginners to experienced
developers.</p>

</body>
</html>
